@import "@/utils/mixins.less";

.banner,
.header {
    transition-property: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    user-select: none;

    & > .wrapper {
        .block-wrapper();
    }
}

.banner {
    --video-offset-y: 0;
    --content-scale: 1;

    position: relative;
    z-index: calc(var(--global-header-z-index) - 1);
    height: 50vh;
    min-height: 350px;
    max-height: 500px;
    color: var(--dark-text-color-primary);

    & > .wrapper {
        position: absolute;
        z-index: 5;
        top: calc(var(--global-header-height) * 1 / 3);
        bottom: var(--global-header-height);
        left: 0;
        right: 0;
        user-select: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        opacity: var(--content-scale);
        // transform: scale(var(--content-scale));
        transform: translateY(calc(var(--video-offset-y) * 1 / 2));
        transform-origin: 0% 100%;
        text-align: center;

        svg {
            display: block;
            height: 90px;
            width: auto;
            margin: 0 auto;
            // color: var(--accent-color-teal);
            filter: drop-shadow(0 0 10px var(--accent-color-purple));
        }

        & > .slogan {
            display: block;
            .font-size-clamp-with-line-height(28px, 42px);
            text-shadow:
                0 0 10px var(--accent-color-purple),
                0 0 10px var(--accent-color-purple);
            letter-spacing: 0.25em;
            text-align: center;
            margin: 0.333333em auto;
            position: relative;
            left: 0.125em;
        }

        & > .links {
            text-align: center;
            margin: 0 auto;
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &::before {
        z-index: 3;
        background: linear-gradient(
            to top,
            #00000080 calc(var(--global-header-height) * 1 / 3),
            #00000020 calc(var(--global-header-height) * 4 / 3)
        );
        // background: linear-gradient(
        //     to right,
        //     var(--dark-theme-color) 40%,
        //     transparent 80%
        // );
        // opacity: 0.5;
    }
    // 点阵
    &::after {
        z-index: 2;
        background-image: radial-gradient(
            var(--dark-theme-color) 66.6667%,
            transparent 66.6667%
        );
        background-size: 4px 4px;
        opacity: 0.05;
        // pointer-events: none;
    }

    & > video {
        position: absolute;
        z-index: 1;
        top: 0;
        // width: 125%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: no-repeat 50% 50%;
        background-size: cover;
        background-image: url(../../assets/banner-video/cover.jpg);
        transform: translateY(var(--video-offset-y));
    }

    & > .intersection-check {
        position: absolute;
        z-index: 1;
        top: 0;
        // bottom: calc(var(--global-header-height) * 2 / 3);
        // bottom: calc(var(--global-header-height) + 0.5em);
        bottom: var(--global-header-height);
        // bottom: calc(var(--global-header-height) + 1em);
        left: 0;
        width: 0;
        // background: #ff000044;
    }
}

.header {
    position: sticky;
    z-index: var(--global-header-z-index);
    flex: 0 0 var(--global-header-height);
    top: 0;
    left: 0;
    width: 100%;
    margin-top: calc(var(--global-header-height) * -1);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background: var(--global-header-background-color);
    border-bottom: 1px solid var(--tag-background-color);
    // .font-size-clamp(20px, 28px);
    color: var(--text-color-primary);
    will-change: background-color, border-color, color, backdrop-filter;
    transition-property: background-color, border-color, color, backdrop-filter;
    backdrop-filter: var(--global-header-backdrop-filter);
}

.banner + .header {
    background-color: transparent;
    border-color: var(--dark-tag-background-color);
    color: var(--dark-text-color-primary);
    backdrop-filter: none;
}
.banner.mod-not-in-view + .header {
    background-color: var(--global-header-background-color);
    border-color: var(--tag-background-color);
    color: var(--text-color-primary);
    backdrop-filter: var(--global-header-backdrop-filter);
}
