---
import { type VideoListPageTypesType } from "@/types";

import CategoryInfo from "./info.astro";
import VideoList from "./list.astro";

type Props = {
    type?: VideoListPageTypesType;
    slug?: string;
    isIndex: boolean;
};
---

<section class="list">
    <CategoryInfo {...Astro.props} />
    <VideoList {...Astro.props} />
</section>

<style lang="less">
    @import "@/utils/mixins.less";

    .list {
        flex: 1;
        order: 2;
        padding-top: 1.5em;
        padding-bottom: 4em;
    }
</style>
