@import "@/utils/mixins.less";

.category-list {
    position: relative;

    & + .category-list {
        margin-top: 4em;
    }

    .category-title {
        position: sticky;
        top: calc(
            var(--global-sticky-top) //  + var(--hero-image-stiky-height)
            + var(--container-top-edge)
        );
        z-index: 5;
        display: block;
        margin: 0;
        padding: 0 0 1em 0;
        font-size: unit(
            (@base-font-size-number-h2 / @base-font-size-number),
            em
        );
        line-height: 1;
        &::before {
            content: "";
            position: absolute;
            top: -1rem;
            bottom: 0;
            left: calc(var(--global-edge-safe-distance) * -0.5);
            right: calc(var(--global-edge-safe-distance) * -0.5);
            background: linear-gradient(
                to top,
                transparent,
                var(--theme-color-p-60) 1rem,
                var(--theme-color-p-90)
            );
            pointer-events: none;
            // backdrop-filter: var(--backdrop-filter-glass);
        }
        .category-code,
        .category-opaque-layer {
            position: absolute;
            top: 0;
            // left: calc(var(--global-edge-safe-distance) * -0.5);
            left: -0.2em;
            z-index: 2;
            display: block;
            font-family: var(--font-family-logo);
            font-size: 2.25em;
            font-weight: 300;
            letter-spacing: 0.05em;
            line-height: 1;
            transform: skew(-11deg);
            transform-origin: 0% 100%;
        }
        .category-code {
            background: linear-gradient(
                to bottom,
                var(--text-color-secondary),
                transparent 85%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .typical-aircraft-types {
            position: relative;
            z-index: 3;
            display: block;
            padding-top: 1.6667em;
            color: var(--text-color-primary);
            transform: skew(-11deg);
            transform-origin: 0% 100%;
            text-shadow: 0 0.1em 0.15em var(--theme-color);
        }
        .category-opaque-layer {
            // top: calc(var(--container-top-edge) * -1);
            // left: calc(var(--global-edge-safe-distance) * -0.5);
            // left: -0.4em;
            z-index: -1;
            color: var(--theme-color);
            text-shadow:
                0 0em 0.4em var(--theme-color),
                0 0em 0.4em var(--theme-color),
                0 0em 0.4em var(--theme-color);
            // background: var(--theme-color);
            // background: radial-gradient(
            //     farthest-side,
            //     var(--theme-color) calc(100% - 0.4em),
            //     transparent
            // );
            // padding: var(--container-top-edge) 0.2em 0.5em 0.2em;
            // border-radius: 100em;
        }
    }

    .challenges-list {
        position: relative;
        z-index: 1;
        display: grid;
        // grid-template-columns: repeat(
        //     auto-fill,
        //     minmax(
        //         calc(
        //             var(--body-safe-min-width) -
        //                 var(--global-edge-safe-distance) * 2
        //         ),
        //         1fr
        //     )
        // );
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
        gap: 1em;
        margin: 0;
        padding: 0 0 1em 0;

        .challenge-item {
            .tag-styles();
            position: relative;
            display: block;
            // border-color: var(--difficulty-color, var(--tag-background-color));
            padding: 0.75em 1.25em 1em 1.25em;
            border-radius: 0.5em;
            // background-color: transparent;
            // background-image: linear-gradient(
            //     to right,
            //     var(--difficulty-color),
            //     transparent 8em
            // );
            &[data-difficulty="rookie"] {
                --difficulty-color: #1eff00;
                --difficulty-icon: "🌱";
                .color-scheme-light({
                    --difficulty-color: #15b000;
                });
            }
            &[data-difficulty="challenge"] {
                // --difficulty-color: #0070dd;
                --difficulty-icon: "🔥";
            }
            &[data-difficulty="extreme"] {
                --difficulty-color: #ff8000;
                --difficulty-icon: "💀";
                .color-scheme-light({
                    --difficulty-color: #ce6700;
                });
            }
            .aerodrome-code {
                position: relative;
                z-index: 10;
                display: block;
                font-family: var(--font-family-monospace);
                font-size: 1.6667em;
                font-weight: 500;
                // letter-spacing: 0.05em;
                line-height: 1;
                background: linear-gradient(
                    to bottom,
                    var(--text-color-primary),
                    var(--theme-color-invert-p-30) 75%
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .aerodrome-name {
                font-size: unit(
                    (@base-font-size-number-h3 / @base-font-size-number),
                    em
                );
                position: relative;
                z-index: 10;
                line-height: 1.2;
                display: block;
                padding-top: 0.13333em;
            }
            // .aerodrome-name + .line {
            //     margin-top: 0.4em;
            // }
            .line {
                position: relative;
                z-index: 10;
                display: block;
                line-height: 1.2;
                margin-top: 0.3em;
            }
            .challenge-difficulty {
                color: var(--difficulty-color);
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                // pointer-events: none;
                // border: inherit;
                border-radius: inherit;
                background: linear-gradient(
                    145deg,
                    var(--difficulty-color),
                    transparent 12em
                );
                opacity: 0.3333;
            }
            &::after {
                content: "";
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                z-index: 2;
                // pointer-events: none;
                border: inherit;
                border-radius: inherit;
                // border-width: 2px;
                border-color: var(
                    --difficulty-color,
                    var(--tag-background-color)
                );
                opacity: 0.3333;
                // box-shadow: inset 0 0 1em var(--theme-color);
            }
            // &::after {
            //     content: var(--difficulty-icon);
            //     position: absolute;
            //     top: 0.5em;
            //     left: 0.25em;
            //     z-index: 10;
            //     font-size: 2.5em;
            //     line-height: 1;
            //     opacity: 0.5;
            // }
        }
    }
}
