@import "../_mixins.less";

.category-list {
    position: relative;

    & + .category-list {
        margin-top: 4em;
    }

    .category-title {
        position: sticky;
        top: calc(
            var(--global-sticky-top) //  + var(--hero-image-stiky-height)
            + var(--container-top-edge)
        );
        z-index: 5;
        display: block;
        margin: 0;
        padding: 0 0 1em 0;
        font-size: unit(
            (@base-font-size-number-h2 / @base-font-size-number),
            em
        );
        line-height: 1;
        &::before {
            content: "";
            position: absolute;
            top: -1rem;
            bottom: 0;
            left: calc(var(--global-edge-safe-distance) * -0.5);
            right: calc(var(--global-edge-safe-distance) * -0.5);
            background: linear-gradient(
                to top,
                transparent,
                var(--theme-color-p-60) 1rem,
                var(--theme-color-p-90)
            );
            pointer-events: none;
            // backdrop-filter: var(--backdrop-filter-glass);
        }
        .category-code,
        .category-opaque-layer {
            position: absolute;
            top: 0;
            // left: calc(var(--global-edge-safe-distance) * -0.5);
            left: -0.2em;
            z-index: 2;
            display: block;
            font-family: var(--font-family-logo);
            font-size: 2.25em;
            font-weight: 300;
            letter-spacing: 0.05em;
            line-height: 1;
            transform: skew(-11deg);
            transform-origin: 0% 100%;
        }
        .category-code {
            background: linear-gradient(
                to bottom,
                var(--text-color-secondary),
                transparent 85%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .typical-aircraft-types {
            position: relative;
            z-index: 3;
            display: block;
            padding-top: 1.6667em;
            color: var(--text-color-primary);
            transform: skew(-11deg);
            transform-origin: 0% 100%;
            text-shadow: 0 0.1em 0.15em var(--theme-color);
        }
        .category-opaque-layer {
            // top: calc(var(--container-top-edge) * -1);
            // left: calc(var(--global-edge-safe-distance) * -0.5);
            // left: -0.4em;
            z-index: -1;
            color: var(--theme-color);
            text-shadow:
                0 0em 0.4em var(--theme-color),
                0 0em 0.4em var(--theme-color),
                0 0em 0.4em var(--theme-color);
            // background: var(--theme-color);
            // background: radial-gradient(
            //     farthest-side,
            //     var(--theme-color) calc(100% - 0.4em),
            //     transparent
            // );
            // padding: var(--container-top-edge) 0.2em 0.5em 0.2em;
            // border-radius: 100em;
        }
    }

    .challenges-list {
        position: relative;
        z-index: 1;
        .list-styles();
    }
}
