@import "@/utils/mixins.less";

.form {
    --sticky-extra-top: calc(var(--hero-image-margin-bottom) * 0.6667);
    --sticky-extend-padding: calc(var(--global-edge-safe-distance) * 0.5);

    --background-color: transparent;
    --border-color: transparent;
    --border-radius: 0;
    --backdrop-filter: none;
    --padding-x: 0;
    --padding-y: 0.6667em;
    --box-shadow: none;

    --filter-background-opacity: 0;
    --filter-min-height: 3em;

    --actions-flex: 0;
    --actions-border-top: none;
    --actions-margin-top: 0px;

    &.is-sticky {
        --background-color: var(--global-header-background-color);
        --border-color: var(--menu-border-color);
        --border-radius: 0.6667em;
        --backdrop-filter: var(--backdrop-filter-glass);
        --padding-x: var(--sticky-extend-padding);
        --box-shadow: var(--overlay-box-shadow);
    }
    .screen-sm({
        --sticky-extra-top: calc(var(--hero-image-margin-bottom) * 0.6667 + 3em);
    });
    .screen-md-below({
        --actions-flex: 1 0 100%;
        --actions-border-top: 1px solid var(--menu-border-color);
        --filter-min-height: calc(3.3em - var(--padding-y) / 2);
        --actions-margin-top: calc(var(--padding-y) / 2);
    });

    position: sticky;
    top: calc(var(--global-header-height) + var(--sticky-extra-top));
    z-index: calc(var(--hero-image-z-index) - 1);

    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-bottom-color: var(--menu-border-color);
    border-radius: var(--border-radius);
    // overflow: hidden;
    backdrop-filter: var(--backdrop-filter);
    // background: var(--menu-background-color);
    // background: var(--theme-color-invert);

    // margin-top: calc(var(--hero-image-margin-bottom) * -1);
    margin-top: calc(
        var(--hero-image-margin-bottom) - var(--global-edge-safe-distance)
    );
    margin-bottom: 1em;
    margin-left: calc(var(--padding-x) * -1);
    margin-right: calc(var(--padding-x) * -1);

    display: flex;
    flex-flow: row wrap;
    padding: 0 var(--padding-x) calc(var(--padding-y) / 2) var(--padding-x);
    gap: 0 0.5em;
    // padding-top: var(--hero-image-margin-bottom);
    // padding-bottom: 0.75em;

    box-shadow: var(--box-shadow);
    transition: none var(--base-transition-duration);
    transition-property:
        background-color, border-color, border-radius, margin, padding,
        box-shadow;
    will-change: margin, padding, box-shadow;

    & > .filter {
        flex: 1;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        min-height: var(--filter-min-height);
        padding-top: var(--padding-y);
        padding-bottom: calc(var(--padding-y) / 2);
        // margin-bottom: -0.6667em;
        cursor: pointer;
        & > .options {
            display: none;
            flex: none;
        }
        & > .label {
            --arrow-size: 1em;
            flex: 0 0 4.25em;
            position: relative;
            // padding-top: calc(var(--sticky-extend-padding) * 0.6667);
            // padding-bottom: calc(var(--sticky-extend-padding) * 0.6667);
            padding-left: calc(var(--arrow-size) + 0.75em);
            color: var(--text-color-secondary);
            // line-height: 1.6667em;
            & > svg {
                width: var(--arrow-size);
                height: var(--arrow-size);
                position: absolute;
                top: 50%;
                left: 0.25em;
                margin-top: calc(var(--arrow-size) * -0.5);
            }
        }
        & > .current {
            position: relative;
            flex: 1;
            & > strong {
                color: var(--text-color-primary);
                position: absolute;
                top: 50%;
                line-height: 1em;
                width: 100%;
                margin-top: -0.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                & > span {
                    color: var(--text-color-primary);
                }
                each(range(1, 10, 2), {
                    [data-difficulty="@{value}"] {
                        --text-color-primary: var(--difficulty-color-@{value});
                    }
                });
            }
        }
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: var(--padding-y);
            // bottom: calc(var(--sticky-extend-padding) * 0.6667);
            bottom: calc(var(--padding-y) * 0.5);
            // bottom: 0;
            left: calc(var(--sticky-extend-padding) * -0.3333);
            right: 0;
            background: var(--tag-background-color);
            opacity: var(--filter-background-opacity);
            transition: opacity var(--base-transition-duration);
            border-radius: 0.3333em;
        }
        .styles-hover() {
            --filter-background-opacity: 1;
        }
        &.is-menu-open {
            .styles-hover();
        }
        .pointer-hover(.styles-hover());
    }
    & > .actions {
        flex: var(--actions-flex);
        padding-top: var(--padding-y);
        padding-bottom: var(--actions-margin-top);
        white-space: nowrap;
        text-align: center;
        border-top: var(--actions-border-top);
        margin-top: var(--actions-margin-top);

        button {
            padding: 0.15em 1em;
            & + button {
                margin-left: calc(var(--sticky-extend-padding) * 0.5);
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: calc(-2px - var(--sticky-extra-top));
        bottom: calc(100% + 1px);
        left: 0;
        right: 0;
        background: var(--global-header-background-color);
    }
}

.option-in-menu {
    --menu-item-line-height: 1.3333em;
    --indicator-size: 0.95em;
    --indicator-border-color: var(--tag-background-color);
    --indicator-radio-background-color: var(--tag-background-color);
    --indicator-radio-core-color: transparent;
    --indicator-checkbox-background-color: var(--tag-background-color);
    --indicator-checkbox-core-color: transparent;
    & > .label {
        cursor: pointer;
        &[data-difficulty] {
            .difficulty-variables();
            --menu-item-text-color: var(--difficulty-color);
        }
        & > .indicator {
            position: absolute;
            width: var(--indicator-size);
            height: var(--indicator-size);
            top: calc(
                (var(--menu-item-min-height) - var(--indicator-size)) * 0.5
            );
            left: calc((var(--menu-block-item-padding-x)));
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                margin-left: -0.2em;
            }
            &::before {
                z-index: 1;
                border: 1px solid var(--indicator-border-color);
                transition: none var(--base-transition-duration);
                transition-property: background-color, border-color;
            }
            &::after {
                z-index: 2;
                transition: none var(--base-transition-duration);
                transition-property: background-color, color;
            }
            & + .text {
                margin-left: var(--menu-item-line-height);
            }
        }
        & > .text {
            display: block;
            position: relative;
            &:has(.emoji) {
                // padding-left: var(--menu-item-min-height);
                padding-left: calc(var(--menu-item-line-height) + 0.3333em);
            }
            .emoji {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: var(--menu-item-line-height);
                &:empty {
                    &::before {
                        content: var(--difficulty-icon);
                    }
                }
            }
        }
        &.radio > .indicator {
            &::before,
            &::after {
                border-radius: 50%;
            }
            &::before {
                background-color: var(--indicator-radio-background-color);
            }
            &::after {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: scale(0.5);
                background-color: var(--indicator-radio-core-color);
            }
        }
        &.checkbox > .indicator {
            &::before,
            &::after {
                border-radius: 0.3333em;
            }
            &::before {
                background-color: var(--indicator-checkbox-background-color);
            }
            &::after {
                content: "✓";
                font-weight: 900;
                top: 50%;
                height: 0;
                line-height: 0;
                transform: scale(0.6667);
                transform-origin: 50% 50%;
                color: var(--indicator-checkbox-core-color);
                // color: #000;
            }
        }
    }
}

.option-in-menu-checked(@name, @index: -1) {
    :global(body:has(#__challenge-filter-@{name}-@{index}:checked))
        .option-in-menu
        :global(label[for=~"__challenge-filter-@{name}-@{index}"]) {
        --block-background-opacity: 1;
        --indicator-border-color: var(--text-color-primary);
        --indicator-radio-core-color: var(--text-color-primary);
        --indicator-checkbox-background-color: var(--text-color-primary);
        --indicator-checkbox-core-color: var(--text-color-primary-invert);
    }
}
.option-in-menu-checked-loop(@name, @length) {
    .option-in-menu-checked(@name, -1);
    each(range(0, @length, 1), {
        .option-in-menu-checked(@name, @value);
    });
}
.option-in-menu-checked-loop(difficulties, 10);
.option-in-menu-checked-loop(aircraftTypes, 10);
.option-in-menu-checked-loop(hazards, 50);

.no-result,
.no-initial-condition {
    margin: 0 auto;
    width: auto;
    text-align: center;
    margin: 2em 0 4em 0;
    & > strong {
        font-size: 1.6667em;
    }
    & > p {
        font-size: 1.25em;
    }
}
.no-result {
    & > strong {
        color: var(--text-color-primary);
    }
}

.loading-spinner {
    .spinner-styles();
    margin: 3em auto 4.5em auto;
    padding: 0;
    // transition-property:
    //     background-color, border-color, border-width, transform, opacity,
    //     padding;
}

.random-result {
    // --max-width: calc(var(--body-safe-min-width) * 2);
    --max-width: calc(
        var(--body-safe-min-width) + var(--global-edge-safe-distance) * 2
    );
    --font-size: 1.13333em;
    --padding-y: 5em;
    --animation-drop-in-duration: 0.75s;

    .screen-sm({
        --max-width: calc(
            var(--body-safe-min-width) - var(--global-edge-safe-distance) * 2
        );
        --font-size: 1em;
        --padding-y: 4em;
    });
    .screen-md({
        --max-width: calc(
            var(--body-safe-min-width) - var(--global-edge-safe-distance) * 2
        );
        // --font-size: 1.3333em;
    });
    // .screen-lg({
    //     --max-width: calc(
    //         var(--body-safe-min-width) + var(--global-edge-safe-distance) * 2
    //     );
    // });

    position: relative;
    z-index: 1;
    margin: -6em calc(var(--global-edge-safe-distance) * -1);
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    margin-bottom: calc(var(--challenge-list-container-padding-bottom) * -1);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        box-shadow: inset 0 0 var(--global-edge-safe-distance)
            calc(var(--global-edge-safe-distance) / 2) var(--theme-color);
        .screen-sm({
            left: calc(var(--global-edge-safe-distance) * -1);
            right: calc(var(--global-edge-safe-distance) * -1);
        });
    }

    .item {
        max-width: var(--max-width);
        font-size: var(--font-size);
        margin: 5dvh auto 0 auto;
        animation: drop-in var(--animation-drop-in-duration) linear backwards;
        transform-origin: 50% 25%;
        @keyframes drop-in {
            0% {
                opacity: 0;
                transform: scale(2);
            }

            12% {
                transform: scale(1.89);
            }

            24% {
                transform: scale(1.56);
            }

            36% {
                transform: scale(1.02);
            }

            54% {
                opacity: 1;
                transform: scale(1.25);
            }

            74% {
                transform: scale(1.02);
            }

            82% {
                transform: scale(1.06);
            }

            92% {
                transform: scale(1.01);
            }

            96% {
                transform: scale(1.02);
            }

            100% {
                transform: scale(1);
            }
        }

        // & > * {
        //     float: left;
        //     width: 50%;
        // }
        // & > .hazards {
        //     float: right;
        // }
    }

    .extra-infos {
        max-width: var(--max-width);
        font-size: var(--font-size);
        margin: 1em auto 0 auto;
        animation: fade-in 0.25s var(--animation-drop-in-duration) linear both;
        text-align: center;
        // padding: 0 0.5em;
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .hint-link {
            .link-with-arrow-styles();
        }
        // .article-is-wip {
        //     display: block;
        //     // margin-top: 0.3333em;
        //     margin-bottom: 0.6667em;
        //     color: var(--accent-color-red);
        //     background: var(--accent-color-red-p-20);
        //     border: 1px solid var(--accent-color-red);
        //     border-radius: 0.5em;
        //     padding: 0.3333em 0.6667em;
        // }
    }
}
