---
import Layout from "@/layouts/layout.astro";

import backgroundImage from "@/assets/404-background.webp";

if (import.meta.env.DEV)
    switch (Astro.originPathname) {
        // 以下内容在生产环境已通过 `nginx` 进行了 301 跳转

        // V1 主分类
        case "/news":
            return Astro.redirect("/videos/tag-news");
        case "/training":
            return Astro.redirect("/videos/tag-tutorial");
        case "/benchmark":
            return Astro.redirect("/videos/tag-review");
        case "/chat":
            return Astro.redirect("/videos/tag-chat");
        case "/world":
            return Astro.redirect("/videos/tag-world");
        case "/flight":
            return Astro.redirect("/videos/tag-short");

        // V1 次分类
        case "/patch":
            return Astro.redirect("/videos/tag-msfs-news");
        case "/aircraft":
            return Astro.redirect("/videos/tag-tutorial-aircraft");
        case "/avionics":
            return Astro.redirect("/videos/tag-tutorial-avionics");
        case "/tip":
            return Astro.redirect("/videos/tag-game-guide");
        case "/aviation":
            return Astro.redirect("/videos/tag-aviation-knowledge");
        case "/mod":
            return Astro.redirect("/videos/tag-mod");
        case "/device":
            return Astro.redirect("/videos/tag-peripheral");
        case "/vr":
            return Astro.redirect("/videos/tag-vr");
        case "/danger":
            return Astro.redirect("/videos/tag-extreme-airport");
        case "/sightseeing":
            return Astro.redirect("/videos/tag-flightseeing");
        case "/test":
            return Astro.redirect("/videos/tag-gameplay");
        case "/groups":
            return Astro.redirect("/videos/tag-activities");
        case "/clip":
            return Astro.redirect("/videos/tag-fun");
        case "/atc":
            return Astro.redirect("/videos/tag-atc");
        case "/tour":
            return Astro.redirect("/videos/tag-scenery");
        case "/dev-qa":
            return Astro.redirect("/videos/tag-official-stream");
    }
---

<Layout showHeader>
    <section class="custom-404">
        <strong>404</strong>
        <em>能见度太低</em>
        <em>页面未找到</em>
        <a href="/">返回首页</a>
    </section>
    <div
        class="background"
        style={{
            backgroundImage: `url(${backgroundImage.src})`,
        }}
    >
    </div>
</Layout>

<style lang="less">
    .custom-404 {
        position: absolute;
        z-index: 5;
        top: var(--global-header-height);
        bottom: calc(var(--global-header-height) * 0.5);
        left: 0;
        right: 0;
        overflow: hidden;
        user-select: none;
        strong,
        em,
        a {
            display: block;
            position: absolute;
            text-align: center;
        }
        strong,
        em {
            left: 0;
            right: 0;
            opacity: 0.3;
            color: var(--text-color-primary);
        }
        strong {
            top: 50%;
            line-height: 0;
            font-size: 40vmin;
            font-weight: 900;
            transform-origin: 50% 50%;
            transform: scale(1, 1.5);
        }
        em {
            font-size: 7.5vmin;
            bottom: 50%;
            margin-bottom: 26vmin;
            letter-spacing: 0.7em;
            margin-right: -0.7em;
            font-style: normal;
            & ~ em {
                top: 50%;
                bottom: auto;
                margin-top: 28vmin;
                margin-bottom: auto;
            }
        }
        a {
            top: 50%;
            font-size: 5vmin;
            background: var(--theme-color-p-50);
            left: 50%;
            width: 40vmin;
            // height: 10vmin;
            line-height: 10vmin;
            // margin-top: 25vmin;
            margin-top: -5.25vmin;
            margin-left: -20vmin;
            color: var(--theme-color-invert-p-80);
            border: 0.5vmin var(--theme-color-invert-p-50) solid;
            text-decoration: none;
            border-radius: 10vmin;
            backdrop-filter: var(--backdrop-filter-glass);
            box-shadow: var(--overlay-box-shadow);
            transition-property:
                background-color, color, border-color, transform;
            &:hover {
                background-color: var(--theme-color-invert-p-50);
                color: var(--theme-color);
                border-color: var(--theme-color-p-80);
            }
        }
    }
    .background {
        &,
        &::before {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        background: no-repeat 50% 50% / cover;
        &::before {
            content: "";
            background: var(--theme-color-p-50);
        }
    }
</style>
