---
import { actions } from "astro:actions";
import { type VideoListPageTypesType } from "@/types";

type Props = {
    type?: VideoListPageTypesType;
    slug?: string;
    isIndex: boolean;
};

const { data, error: error } = Astro.props.isIndex
    ? {}
    : await Astro.callAction(
          actions.videoListPageFetchTags,
          {}
          //   Astro.props.type as Required<Props>["type"]
      );
if (error) {
    console.trace(error);
    Astro.response.status = 500;
    // Astro.response.statusText = (error.cause || error.message || "") as string;
    return Astro.rewrite("/500");
}

// console.log(data);
// const list = [

// ]

/*

Index

---

Main Categories
- news
- tutorial
    - aircraft
    - tips
    - aviation
- review
- chat
- world
- short

---

Explore More
- Tags
- Aircraft Families
- Aerodromes
- Games / Platforms
- Game Updates
- Related Developers

*/
---

<aside class="categories">
    <section class="wrapper">
        <p>TODO: CATEGOREIS</p>
    </section>
</aside>

<style lang="less">
    @import "@/utils/mixins.less";

    .categories {
        position: sticky;
        top: calc(var(--global-sticky-top) + 1em);
        flex: 0 0 200px;
        background: var(--tag-background-color);
        margin: 1em 0 4em 0;
        border-radius: 10px;
        overflow: hidden;
        z-index: 10;

        & > .wrapper {
            position: relative;
            height: 100%;
            overflow: auto;
            scrollbar-width: thin;
            max-height: calc(100dvh - var(--global-sticky-top) - 3em);
            padding: 1em;
        }

        // TODO: sliding in small view
    }
</style>
