---
interface Props extends astroHTML.JSX.HTMLAttributes {
    /**
     * HTML 元素
     * - 默认为 `section`
     */
    tag?: string;
    /**
     * `wrapper` 的 CSS 类名
     */
    wrapperClass?: string;
}

const {
    tag: Element = "section",
    wrapperClass,
    class: className,
    ...props
} = Astro.props;
---

<Element class:list={["block", className]} {...props}>
    <section class:list={["wrapper", wrapperClass]}>
        <slot />
    </section>
</Element>

<style lang="less">
    @import "@/utils/mixins.less";

    .block {
        display: block;
        position: relative;
        width: 100%;
        user-select: none;

        & > .wrapper {
            user-select: auto;
            .block-wrapper();
        }
    }
</style>
