@import "@/utils/mixins.less";

.copy-button {
    --toast-success-opacity: 0;
    --toast-success-transform: translateY(0.5em);

    position: relative;
    display: inline-block;
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    color: var(--text-color-secondary);
    user-select: none;

    &:hover {
        color: var(--text-color-primary);
    }

    .icon {
        display: inline-block;
        vertical-align: top;
        margin: 0 0.25em 0 0;
        svg {
            fill: currentColor;
            width: 1em;
            height: 1em;
        }
    }

    .toast-success {
        position: absolute;
        top: 0;
        right: -1.25em;
        width: 1em;
        height: 1em;
        color: var(--difficulty-color-1);
        user-select: none;
        pointer-events: none;
        transition: var(--base-transition-duration);
        transition-property: opacity, transform;
        opacity: var(--toast-success-opacity);
        transform: var(--toast-success-transform);
        // animation: fade-in 200ms;
        // @keyframes fade-in {
        //     0% {
        //         opacity: 0;
        //     }
        //     100% {
        //         opacity: 1;
        //     }
        // }
        &,
        svg {
            display: block;
            width: 1em;
            height: 1em;
        }
    }

    // &.is-state-ready {
    // }

    &.is-state-success {
        --toast-success-opacity: 1;
        --toast-success-transform: none;
    }
}
