@import "@/utils/mixins.less";

.video-item {
    --font-size-scale: 1;
    --cover-scale: 1;
    --infos-margin-top: calc(0.3333em / var(--font-size-scale));
    --infos-text-color: var(--text-color-secondary);
    --info-overlay-edge: unit((8 / @base-font-size-number), em);
    --links-opacity: 0;
    --links-translate-x: 100%;
    --menu-handle-size: unit((30 / @base-font-size-number), em);

    --img-max-width: none;
    --img-max-height: none;

    display: inline-block;
    position: relative;
    color: var(--text-color-primary);
    margin: 0;
    overflow: hidden;

    .styles-info-overlay() {
        background: var(--dark-theme-color-p-80);
        color: var(--light-theme-color);
        opacity: 0.85;
        border-radius: 6px;
    }

    .body {
        text-decoration: none;
        color: inherit;
        display: block;
        position: inherit;
        position: relative;
        z-index: 5;
    }

    .cover {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: percentage((9 / 16));
        overflow: hidden;
        border-radius: 10px;
        background: var(--border-color);
        margin-bottom: 0.5em;

        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform var(--base-transition-duration) ease-in-out;
            transform: scale(var(--cover-scale));
        }

        &[data-duration] {
            &::after {
                .styles-info-overlay();
                content: attr(data-duration);
                position: absolute;
                bottom: var(--info-overlay-edge);
                right: var(--info-overlay-edge);
                font-size: smaller;
                // font-size: x-small;
                font-weight: 500;
                padding: 0 0.5em;
                line-height: 1.6667;
            }
        }
    }

    .info-section {
        display: block;
        // margin: calc(@base-font-size-number * var(--font-size)) 0.25em 0 0.25em;
        margin: var(--infos-margin-top) 0.25em 0 0.25em;
        font-size: calc(1em * var(--font-size-scale));
        line-height: calc(1em / var(--font-size-scale));
        // padding-right: calc(var(--menu-handle-size) * 2 / 3);

        &.tags {
            --font-size-scale: 0.85;
            // margin-left: -0.125em;
            font-weight: normal;
            // color: var(--text-color-secondary);
            color: var(--dark-text-color-primary);
            .tag {
                --border-radius: 0.3333em;
                display: inline-block;
                // background: var(--tag-background-color);
                background: var(--accent-color-purple);
                line-height: 1.6667em;
                padding: 0 0.5em;
                & + .tag {
                    margin-left: 2px;
                }
                &:first-child {
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);
                }
                &:last-child {
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                }
            }
        }

        &.title {
            line-height: 1.3333em;
        }

        &.infos {
            --font-size-scale: 0.85;
            color: var(--infos-text-color);
            transition: inherit;

            & > span {
                display: inline-block;
                position: relative;
                + span {
                    margin-left: 1em;
                    &::before {
                        content: "・";
                        position: absolute;
                        top: 50%;
                        line-height: 0;
                        left: -1em;
                    }
                }
            }
        }
    }

    // .menu-handle {
    //     position: absolute;
    //     display: block;
    //     right: 0;
    //     top: 0;
    //     width: 100%;
    //     text-align: right;
    //     &::before {
    //         content: "";
    //         display: block;
    //         position: relative;
    //         width: 100%;
    //         height: 0;
    //         padding-bottom: percentage((9 / 16));
    //     }
    //     & > .wrapper {
    //         display: inline-block;
    //         position: relative;
    //         & > button {
    //             --svg-size: unit((20 / @base-font-size-number), em);
    //             appearance: none;
    //             display: inline-block;
    //             position: relative;
    //             z-index: 10;
    //             padding: calc((var(--menu-handle-size) - var(--svg-size)) / 2);
    //             padding-right: 0;
    //             margin-top: calc(var(--infos-margin-top) / 3);
    //             margin-right: calc(
    //                 (var(--menu-handle-size) - var(--svg-size)) / -2
    //             );
    //             border-radius: 100%;
    //             border: 0;
    //             background: transparent;
    //             color: var(--text-color-secondary);
    //             transition: none var(--base-transition-duration) ease-in-out;
    //             transition-property: background-color, color, transform;
    //             svg {
    //                 display: block;
    //                 width: var(--svg-size);
    //                 height: var(--svg-size);
    //             }
    //             &:hover {
    //                 color: inherit;
    //             }
    //         }
    //     }
    // }

    .links {
        position: absolute;
        z-index: 10;
        display: flex;
        flex-flow: column nowrap;
        gap: unit((4 / @base-font-size-number), em);
        top: var(--info-overlay-edge);
        right: var(--info-overlay-edge);
        transition: none var(--base-transition-duration) ease-in-out;
        transition-property: opacity, color, transform;
        opacity: var(--links-opacity);
        transform: translateX(var(--links-translate-x));
        .platform {
            .styles-info-overlay();
            display: block;
            padding: unit((4 / @base-font-size-number), em);
            background: var(--dark-theme-color-p-80);
            transition: none var(--base-transition-duration);
            transition-property: opacity, color, transform;
            opacity: 0.6667;
            & > svg {
                width: unit((16 / @base-font-size-number), em);
                height: unit((16 / @base-font-size-number), em);
                display: block;
            }
            .pointer-hover({
                opacity: 1;
                &[data-platform="bilibili"] {
                    color: var(--theme-color-bilibili);
                }
                &[data-platform="youtube"] {
                    color: var(--theme-color-youtube);
                }
                &[data-platform="douyin"] {
                    color: var(--theme-color-tiktok);
                }
            });
        }
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     top: percentage((9 / 16));
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background: var(--tag-background-color);
    //     border-radius: 10px;
    // }

    .pointer-hover({
        --infos-text-color: var(--text-color-primary);
        --cover-scale: 1.05;
        // --cover-scale: 0.9;
    });
    .pointer-hover({
        --links-opacity: 1;
        --links-translate-x: 0;
    }, ".option-video-item-show-platform-links-on-hover");
}
