@import "@/utils/mixins.less";

.video-list-grid {
    --grid-item-min-width: 270px;

    position: relative;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--grid-item-min-width), 1fr)
    );
    gap: 2em 1em;

    .screen-lg({
        --grid-item-min-width: 255px;
    });
    .screen-md-below({
        --grid-item-min-width: 245px;
    });

    & > .block {
        grid-column: 1 / -1;
        position: relative;
        text-align: center;
    }

    .infinite-scroll-indicator {
        position: absolute;
        z-index: -1;
        top: -10em;
        bottom: 0;
        left: 0;
        width: 100%;
        // background: #f00;
    }

    .button-load-more {
        .tag-styles();
        border-radius: 100em;
        padding: 0.3333em 1.6667em;
        // transition-property:
        //     color, background-color, border-color, border-width, transform,
        //     opacity, padding;
        &.is-loading {
            color: transparent;
            width: 3em;
            height: 3em;
            padding: 0;
            overflow: hidden;
            background-color: transparent;
            border-width: 0.25em;
            border-color: var(--text-color-secondary);
            border-left-color: transparent;
            animation: rotating 1.5s infinite linear;
            transition-property:
                background-color, border-color, border-width, transform,
                opacity, padding;
            @keyframes rotating {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            // &:disabled,
            // &[disabled] {
            //     opacity: 1;
            // }
        }
    }
}
