@import "@/utils/mixins.less";

.video-item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--text-color-primary);

    & > .cover {
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: percentage((9 / 16));
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 0.5em;
        background: var(--border-color);

        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform var(--base-transition-duration) ease-in-out;
        }

        &[data-duration] {
            &::after {
                content: attr(data-duration);
                position: absolute;
                bottom: 5px;
                right: 5px;
                background: var(--dark-theme-color-p-80);
                color: var(--light-theme-color);
                opacity: 0.85;
                font-size: smaller;
                // font-size: x-small;
                font-weight: 500;
                padding: 0 0.5em;
                line-height: 1.6667;
                border-radius: 6px;
            }
        }
    }

    & > .tags,
    & > strong,
    & > .info {
        display: block;
        margin-left: 0.25em;
        margin-right: 0.25m;
    }

    & > .tags {
        font-size: 0.85em;
        // margin-left: -0.125em;
        margin-top: 0.3333em;
        margin-bottom: 0.1333em;
        font-weight: normal;
        // color: var(--text-color-secondary);
        color: var(--dark-text-color-primary);
        .tag {
            --border-radius: 0.3333em;
            display: inline-block;
            // background: var(--tag-background-color);
            background: var(--accent-color-purple);
            line-height: 1.6667em;
            padding: 0 0.5em;
            & + .tag {
                margin-left: 1px;
            }
            &:first-child {
                border-top-left-radius: var(--border-radius);
                border-bottom-left-radius: var(--border-radius);
            }
            &:last-child {
                border-top-right-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
            }
        }
    }

    & > strong {
        line-height: 1.3333em;
        margin-top: 0.1333em;
    }

    & > .info {
        font-weight: normal;
        color: var(--text-color-secondary);
        font-size: 0.85em;
        line-height: 1.3333em;
        transition: inherit;
        margin-top: 0.3333em;

        & > span {
            display: inline-block;
            position: relative;
            + span {
                margin-left: 1em;
                &::before {
                    content: "・";
                    position: absolute;
                    top: 50%;
                    line-height: 0;
                    left: -1em;
                }
            }
        }
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     top: percentage((9 / 16));
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background: var(--tag-background-color);
    //     border-radius: 10px;
    // }

    .pointer-hover({
        & > .cover > img {
            transform: scale(1.06667);
        }
        & > .info {
            color: var(--text-color-primary);
        }
    });
}
