@global-edge-safe-distance: 30px;
@global-edge-safe-distance-sm: 20px;

@screen-size-xs: 440px;
@screen-size-xs-plus-edge-safe-distance: (
    @screen-size-xs + @global-edge-safe-distance-sm * 2
);
@screen-size-sm: 576px;
@screen-size-sm-plus-edge-safe-distance: (
    @screen-size-sm + @global-edge-safe-distance-sm * 2
);
@screen-size-md: 780px;
@screen-size-md-plus-edge-safe-distance: (
    @screen-size-md + @global-edge-safe-distance * 2
);
@screen-size-lg: 1030px;
@screen-size-lg-plus-edge-safe-distance: (
    @screen-size-lg + @global-edge-safe-distance * 2
);
@screen-size-xl: 1300px;
@screen-size-xl-plus-edge-safe-distance: (
    @screen-size-xl + @global-edge-safe-distance * 2
);

// ============================================================================

@base-font-size-number: 14;
@base-transition-duration: 0.3s;

// ============================================================================

@video-player-sticky-screen-aspect-ratio: 0.75;
@video-player-dynamic-screen-min-height: 620px;

// ============================================================================

.local(@currentLocale, @rules) {
    html[lang="@{currentLocale}"] & {
        @rules();
    }
}

.font-size-clamp(@min-font-size, @font-size) {
    font-size: unit(@font-size, px);
    font-size: clamp(
        unit(@min-font-size, px),
        unit((175 * @font-size / 1920), vw),
        unit(@font-size, px)
    );
}

.font-size-clamp-with-line-height(@size, @line-height) {
    font-size: @size;
    font-size: clamp((@size * 0.85), unit((175 * @size / 1920), vw), @size);
    line-height: unit((@line-height / @size), em);
}

.block-wrapper() {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--global-edge-safe-distance);
    padding-right: var(--global-edge-safe-distance);
    max-width: var(--global-block-max-width);
    width: 100%;
}

.screen-sm(@rules) {
    @media screen and (max-width: @screen-size-sm) {
        & {
            @rules();
        }
    }
}
.screen-md-below(@rules) {
    @media screen and (max-width: @screen-size-md) {
        & {
            @rules();
        }
    }
}
.screen-md(@rules) {
    @media screen and (min-width: (@screen-size-sm + 1)) and (max-width: @screen-size-md) {
        & {
            @rules();
        }
    }
}
.screen-lg-below(@rules) {
    @media screen and (max-width: @screen-size-lg) {
        & {
            @rules();
        }
    }
}
.screen-lg(@rules) {
    @media screen and (min-width: (@screen-size-md + 1)) and (max-width: @screen-size-lg) {
        & {
            @rules();
        }
    }
}

.color-scheme-light(@rules) {
    :root.force-color-scheme-light & {
        @rules();
    }
    @media (prefers-color-scheme: light) {
        :root:not(.force-color-scheme-dark) & {
            @rules();
        }
    }
}

.tag-styles() {
    --border-radius: 0.3333em;
    line-height: calc(1.6667em - 2px);
    padding: 0 0.5em;
    appearance: none;
    text-decoration: none;
    color: var(--text-color-primary);
    background: var(--tag-background-color);
    border: 1px solid var(--tag-background-color);
    border-radius: var(--border-radius);
    transition: none var(--base-transition-duration);
    transition-property:
        color, background-color, border-color, border-width, transform, opacity;
    &:hover {
        background-color: var(--menu-background-color-highlight);
    }
    &:disabled,
    &[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }
}

.link-with-arrow-styles() {
    --arrow-line-width: 2px;
    --arrow-translate-x: -10px;
    --arrow-opacity: 0;

    display: inline-block;
    position: relative;
    color: var(--text-color-primary);
    text-decoration: none;
    transition-property: color, transform, opacity, background-color;

    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        right: -0.4em;
        border: var(--arrow-line-width) solid currentColor;
        width: 0.5em;
        height: 0.5em;
        margin-top: -0.125em;
        border-left-width: 0;
        border-bottom-width: 0;
        opacity: var(--arrow-opacity);
        transform-origin: 100% 100%;
        transform: translateX(var(--arrow-translate-x)) rotate(45deg);
        transition: inherit;
        transition-property: transform, opacity;
    }
    // &::before {
    // }
    &::after {
        --arrow-line-width: 1px;
        border-color: var(--text-color-secondary);
        right: calc(-0.4em - 5px);
    }
    .pointer-hover({
        --arrow-translate-x: 0;
        --arrow-opacity: 1;
    });
}

.pointer-hover(@rules) {
    @media (pointer: fine) {
        &:hover {
            @rules();
        }
    }
}
