@import "@/utils/mixins.less";

.controls,
.background,
.watermark-overlay {
    position: fixed;
    top: 0;
    right: 0;
}
.background,
.watermark-overlay {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.controls {
    z-index: 10;
    transition: opacity var(--base-transition-duration);
    font-size: small;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em 0.75em;
    background: var(--global-header-background-color);
    backdrop-filter: var(--backdrop-filter-glass);
    border: 0 solid var(--tag-background-color);
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0.6667em;

    &:not(.is-view-default) {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }

    .divider {
        display: inline-block;
        width: 2px;
        height: 1.2em;
        margin: 0 0.75em;
        background-color: var(--border-color);
    }

    .button {
        // --text-color-primary: var(--text-color-primary);
        // --tag-background-color: var(--theme-color-invert-p-20);
        // --menu-background-color-highlight: var(--theme-color-invert-p-60);
        &:has(+ .button) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        & + .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &.is-active {
            // --text-color-primary: var(--text-color-primary);
            pointer-events: none;
            --tag-background-color: var(--accent-color);
        }
    }

    .background-selector {
        display: block;
        position: relative;
        --height: calc(1.6667em - 2px);
        .label {
            position: relative;
            z-index: 2;
            pointer-events: none;
            padding: 0 1.75em 0 0.5em;
            line-height: var(--height);
            top: -1px;
            color: var(--text-color-primary);
        }
        select {
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            width: 100%;
            &:hover,
            &:active {
                & ~ .select-box {
                    background-color: var(--menu-background-color-highlight);
                }
            }
        }
        .select-box {
            position: absolute;
            display: block;
            pointer-events: none;
            top: 50%;
            left: 0;
            width: 100%;
            height: var(--height);
            margin-top: calc(-1 * var(--height) / 2);
            background: var(--tag-background-color);
            border: 1px solid var(--tag-background-color);
            border-radius: 0.3333em;
            transition: none var(--base-transition-duration);
            transition-property:
                color, background-color, border-color, border-width, transform,
                opacity;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0.5em;
                width: 0;
                height: 0;
                margin-top: -0.15em;
                border-left: 0.4em solid transparent;
                border-right: 0.4em solid transparent;
                border-top: 0.4em solid currentColor;
                pointer-events: none;
            }
        }
    }
}

.background {
    z-index: 1;
    background: no-repeat center/cover;

    &:not(.is-view-default, .is-view-watermark) {
        background-size: 0 0;
    }
}

.watermark-overlay {
    z-index: 100;
    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 99999999;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='150px' width='250px'><text transform='translate(20, 150) rotate(-30)' fill='rgb(255,255,255)' font-size='40'>fly-dbh.com</text></svg>");
        pointer-events: none;
        opacity: 0.1;
        mix-blend-mode: lighten;
    }
}
