@import "normalize.css/normalize.css";
@import "toastify-js/src/toastify.css";
@import "@/utils/mixins.less";

:root {
    // ========================================================================
    //
    // 字体
    //
    // ========================================================================

    @font-face {
        font-family: "Helvetica Compressed";
        font-display: swap;
        font-weight: 100;
        src:
            local(sans-serif),
            url("/fonts/Helvetica-Compressed.otf") format("truetype");
    }

    // ========================================================================
    //
    // CSS 变量
    //
    // ========================================================================

    --global-edge-safe-distance: 30px;
    --global-block-max-width: calc(
        1200px + var(--global-edge-safe-distance) * 2
    );
    --global-root-z-index: 100;
    --global-header-height: 60px;
    --global-header-z-index: 9999;
    --global-header-nav-max-width: var(--global-block-max-width);
    --global-header-background-color: var(--theme-color-p-80);
    --global-header-backdrop-filter: blur(20px);

    --font-family-base:
        Roboto, "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", "Microsoft YaHei UI", "Microsoft YaHei", "Hiragino Sans GB",
        sans-serif;
    --font-family-logo: "Helvetica Compressed", var(--font-family-base);
    --global-font-family: var(--font-family-base);
    --global-font-weight: 500;

    --body-safe-min-width: 375px;
    --title-letter-spacing: -0.04em;
    --backdrop-filter-glass: saturate(180%) blur(20px);

    // ========================================================================
    //
    // CSS 变量：颜色
    //
    // ========================================================================

    --accent-color-purple: #6a14d1;
    --accent-color-blue: #04b8f4;
    --accent-color-green: #c8df21;
    --accent-color-red: #fe8de6;
    --accent-color: var(--accent-color-purple);
    --theme-color-youtube: #ff0000;
    --theme-color-bilibili: #00a1d6;
    --theme-color-tiktok: #040404;
    --theme-color-kook: #87eb00;

    --text-color-primary: #f1f1f1;
    --text-color-secondary: #aaa;
    --text-color-invert: #0f0f0f;
    --tag-background-color: rgba(255, 255, 255, 0.1);
    --tag-background-color-invert: #f1f1f1;
    --menu-background-color: #282828;
    --menu-background-color-highlight: #535353;
    --border-color: rgba(255, 255, 255, 0.2);

    .theme-light({
        --text-color-primary: #0f0f0f;
        --text-color-secondary: #606060;
        --text-color-invert: #fff;
        --tag-background-color: rgba(0, 0, 0, 0.05);
        --tag-background-color-invert: #0f0f0f;
        --menu-background-color: #fff;
        --menu-background-color-highlight: #e5e5e5;
        --border-color: rgba(0, 0, 0, 0.1);
    });

    // ========================================================================
    //
    // 全局基础样式
    //
    // ========================================================================

    .font-size-clamp-with-line-height(unit((16 / 0.85), px), unit((1.5 * 16 / 0.85), px));
    font-family: var(--global-font-family);
    font-weight: var(--global-font-weight);
    color: var(--text-color-secondary);
    background: var(--theme-color);
    box-sizing: border-box;

    &[lang="ja"] {
        --font-family-base:
            "Noto Sans JP", "Lucida Grande", "Hiragino Kaku Gothic ProN",
            Meiryo, Roboto, sans-serif;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
button[type="button"],
button[type="submit"] {
    transition: 0.3s;
    transition-property: transform;
    &:active {
        transform: translateY(2px);
    }
}

button[type="button"],
button[type="submit"] {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: var(--title-letter-spacing);
    color: var(--text-color-primary);
}
