@import "normalize.css/normalize.css";
@import "toastify-js/src/toastify.css";
@import "@/utils/mixins.less";

:root {
    // ========================================================================
    //
    // 字体
    //
    // ========================================================================

    @font-face {
        font-family: "Helvetica Compressed";
        font-display: swap;
        font-weight: 100;
        src:
            local(sans-serif),
            url("/fonts/Helvetica-Compressed.otf") format("truetype");
    }

    // ========================================================================
    //
    // CSS 变量
    //
    // ========================================================================

    --global-content-root-z-index: 10;
    --global-glossy-modal-z-index: 100;
    --global-message-z-index: 1000;

    --global-edge-safe-distance: @global-edge-safe-distance;
    --global-bottom-safe-distance: env(safe-area-inset-bottom, 0px);
    --global-block-max-width: calc(
        1600px + var(--global-edge-safe-distance) * 2
    );
    --global-header-height: 60px;
    --global-header-z-index: 9999;
    --global-header-nav-max-width: var(--global-block-max-width);
    --global-header-background-color: var(--theme-color-p-70);
    --global-header-backdrop-filter: blur(20px);
    --global-announcement-height: 45px;
    --global-announcement-count: 0;
    --global-navbar-height: 55px;
    --global-navbar-bottom-edge: calc(var(--global-edge-safe-distance) * 2 / 3);
    --global-sticky-top: calc(
        var(--global-header-height) + var(--global-announcement-height) *
            var(--global-announcement-count)
    );

    --font-family-base:
        Roboto, "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", "Microsoft YaHei UI", "Microsoft YaHei", "Hiragino Sans GB",
        sans-serif;
    --font-family-logo: "Helvetica Compressed", var(--font-family-base);
    --global-font-family: var(--font-family-base);
    --global-font-weight: 500;

    --body-safe-min-width: 375px;
    --body-scrollbar-width: 0px;
    --title-letter-spacing: -0.04em;
    --backdrop-filter-glass: saturate(180%) blur(20px);
    --base-transition-duration: 0.3s;

    .screen-sm({
        --global-edge-safe-distance: @global-edge-safe-distance-sm;
    });

    // ========================================================================
    //
    // CSS 变量：颜色
    //
    // ========================================================================

    --color-scheme: dark light;
    --dark-text-color-primary: #f1f1f1;
    --dark-text-color-secondary: #aaa;
    --dark-tag-background-color: rgba(255, 255, 255, 0.125);

    --accent-color-purple: #6a14d1;
    --accent-color-blue: #04b8f4;
    --accent-color-teal: #00ffff;
    --accent-color-green: #76b900;
    --accent-color-red: #ed1c24;
    --accent-color: var(--accent-color-green);
    --theme-color-youtube: #ff0000;
    --theme-color-bilibili: #00a1d6;
    --theme-color-tiktok: #00faf0;
    --theme-color-kook: #87eb00;

    --theme-color: var(--dark-theme-color);
    --theme-color-p-20: var(--dark-theme-color-p-20);
    --theme-color-p-50: var(--dark-theme-color-p-50);
    --theme-color-p-60: var(--dark-theme-color-p-60);
    --theme-color-p-70: var(--dark-theme-color-p-70);
    --theme-color-p-80: var(--dark-theme-color-p-80);
    --theme-color-invert: var(--light-theme-color);
    --theme-color-invert-p-20: var(--light-theme-color-p-20);
    --theme-color-invert-p-50: var(--light-theme-color-p-50);
    --theme-color-invert-p-60: var(--light-theme-color-p-60);
    --theme-color-invert-p-70: var(--light-theme-color-p-70);
    --theme-color-invert-p-80: var(--light-theme-color-p-80);

    --text-color-primary: #f1f1f1;
    --text-color-secondary: #aaa;
    --text-color-invert: #0f0f0f;
    --tag-background-color: var(--dark-tag-background-color);
    --tag-background-color-invert: #f1f1f1;
    --menu-background-color: #282828;
    --menu-background-color-highlight: #535353;
    --border-color: rgba(255, 255, 255, 0.2);

    .color-scheme-light(@rules) {
        &.force-color-scheme-light {
            @rules();
        }
        @media (prefers-color-scheme: light) {
            &:not(.force-color-scheme-dark) {
                @rules();
            }
        }
    }
    .color-scheme-light({
        --color-scheme: only light;

        --theme-color: var(--light-theme-color);
        --theme-color-p-20: var(--light-theme-color-p-20);
        --theme-color-p-50: var(--light-theme-color-p-50);
        --theme-color-p-60: var(--light-theme-color-p-60);
        --theme-color-p-70: var(--light-theme-color-p-70);
        --theme-color-p-80: var(--light-theme-color-p-80);
        --theme-color-invert: var(--dark-theme-color);
        --theme-color-invert-p-20: var(--dark-theme-color-p-20);
        --theme-color-invert-p-50: var(--dark-theme-color-p-50);
        --theme-color-invert-p-60: var(--dark-theme-color-p-60);
        --theme-color-invert-p-70: var(--dark-theme-color-p-70);
        --theme-color-invert-p-80: var(--dark-theme-color-p-80);

        --text-color-primary: #0f0f0f;
        --text-color-secondary: #606060;
        --text-color-invert: #fff;
        --tag-background-color: rgba(0, 0, 0, 0.075);
        --tag-background-color-invert: #0f0f0f;
        --menu-background-color: #fff;
        --menu-background-color-highlight: #e5e5e5;
        --border-color: rgba(0, 0, 0, 0.1);
    });
    &.force-color-scheme-light {
        --color-scheme: only dark;
    }

    // ========================================================================
    //
    // 全局基础样式
    //
    // ========================================================================

    .font-size-clamp-with-line-height(
        unit((@base-font-size-number / 0.85), px),
        unit((1.5 * @base-font-size-number / 0.85), px)
    );
    font-family: var(--global-font-family);
    font-weight: var(--global-font-weight);
    color: var(--text-color-secondary);
    background: var(--theme-color);
    box-sizing: border-box;
    color-scheme: var(--color-scheme);

    &[lang="ja"] {
        --font-family-base:
            "Noto Sans JP", "Lucida Grande", "Hiragino Kaku Gothic ProN",
            Meiryo, Roboto, sans-serif;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
button[type="button"],
button[type="submit"] {
    transition: var(--base-transition-duration);
    &:active {
        transform: translateY(2px);
    }
}

a {
    display: inline-block;
    color: var(--text-color-secondary);
    &:hover {
        color: var(--text-color-primary);
    }
}

button[type="button"],
button[type="submit"] {
    transition-property: transform;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: var(--title-letter-spacing);
    color: var(--text-color-primary);
}

h1 {
    font-size: unit((22px / @base-font-size-number), em);
}
h2 {
    font-size: unit((20px / @base-font-size-number), em);
}
h3 {
    font-size: unit((18px / @base-font-size-number), em);
}
h4 {
    font-size: unit((16px / @base-font-size-number), em);
}
h5 {
    font-size: unit((14px / @base-font-size-number), em);
}

hr {
    border-color: var(--border-color);
}
