@import "@/utils/mixins.less";

.player {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: var(--player-aspect-ratio);
    min-height: var(--player-min-height);
    max-height: 75vh;
    max-height: var(--player-max-height);
    // border-top: var(--player-height-shrink) solid transparent;

    & > .wrapper {
        background: var(--player-background);

        &,
        & > iframe,
        & > .no-valid-link {
            position: absolute;
            // top: calc(var(--player-height-shrink) * 1);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            // box-shadow: 0 0 50px 10px #f00;
        }
        // & > iframe,
        // & > .no-valid-link {
        //     opacity: 0.25;
        // }
        & > .no-valid-link {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            font-size: 1.75em;
            background: no-repeat 50% 50% / cover;
            color: var(--text-color-primary);
            p {
                margin: 0.5em auto;
                position: relative;
                z-index: 2;
                strong {
                    display: inline-block;
                    color: var(--text-color-primary);
                    margin: 0 0.3333em;
                    &.platform-bilibili {
                        color: var(--theme-color-bilibili);
                    }
                    &.platform-douyin {
                        color: var(--theme-color-tiktok);
                    }
                    &.platform-youtube {
                        color: var(--theme-color-youtube);
                    }
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: var(--dark-theme-color-p-50);
            }
        }
    }

    // 宽高比大于一定值时，缩小播放器
    @media (aspect-ratio > @video-player-sticky-screen-aspect-ratio) and (height > @video-player-dynamic-screen-min-height) {
        & > .wrapper {
            // position: sticky;
            // aspect-ratio: var(--player-aspect-ratio);
            // min-height: var(--player-min-height);
            // max-height: var(--player-max-height);
            // width: 100%;
            // height: auto;
            // top: calc(var(--global-sticky-top) - var(--player-height-shrink));
            // left: 0;
            // border-top: var(--player-height-shrink) solid transparent;
            position: fixed;
            top: var(--global-sticky-top);
            left: 0;
            width: 100%;
            height: 100%;
            min-height: var(--player-min-height);
            height: calc(
                (100vw - var(--body-scrollbar-width)) * 9 / 16 -
                    var(--player-height-shrink)
            );
            max-height: calc(
                var(--player-max-height) - var(--player-height-shrink)
            );
            & > iframe,
            & > .no-valid-link {
                // min-height: calc(
                //     33.3333dvh - var(--global-header-height) -
                //         var(--global-announcement-height) *
                //         var(--global-announcement-count)
                // );
                min-height: var(--player-min-height);
            }
        }
    }
}
